<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="img/sun.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="img/image_rahul.jpeg" alt="Me">    
    </div>

    {{>footer}}
</body>

</html>